:root{
    --colorPrimary : rgb(26, 50, 73);
}
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    border: 0;
    font-family: 'Roboto',sans-serif;
}
header{
    background-color: var(--colorPrimary);
    display: flex;
    justify-content: center;
    padding: 20px;
}
.txt-header
{
    color:rgb(26, 50, 73);
    border: 2px solid rgb(238, 141, 124);
    background-color: white;
    text-align: center;
    padding: 8px;
    width: fit-content;
}
h6
{
    font-size: xx-small;
}
.container
{
    padding: 1%;
}
.category
{
    color: rgb(26, 50, 73);
    display: flex;
    justify-content: space-between;
    margin: 2%;
}
.category p{
    font-size: x-small;
    font-weight: bold;
    margin-bottom: 8px;
}
.category select,input,button
{
    border: 1.5px solid var(--colorPrimary);
    height: 30px;
}
.category button
{
    color: white;
    background-color: var(--colorPrimary);
    padding: 2%;
}
.category input
{
    float: left;
    padding: 7px;
    width: 70%;
}

.allnewsheading
{
    flex: 1;
    margin-top: 2%;
}
hr
{
    border-top: solid 1px; 
}
.content
{
    display: flex;
    width: 75%;
    margin: 2%;
}
.content img
{
    height: 161px;
    width: 160px;
    margin-right: 10px;
}
.title
{
    width: 80%;
    margin-left: 12px;
}
.title p
{
    font-size: 12px;
    margin-top: 5px;
}
.title button
{
    background-color: rgb(216, 108, 66);
    color: white;
    border: none;
    padding: 5px;
    margin-top: 3%;
}
.titlehr
{
    border-top: solid 1px; 
    width: 75%;
}
.txt-footer
{
    background-color: var(--colorPrimary);
    color: white;
    text-align: center;
    padding: 6px;
    height: 30px;
}

@media (max-width: 1024px) 
{
    .content
    {
        display: block;
    }
}

@media (max-width : 556px) {
    .category
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content{
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .Title{
        width: 100%;
    }
    .heading{
        margin-left: 0%;
        order: -1;
    }
    .category p{
        margin: 4%;
    }
}
    
