nav {
  margin-top: 4rem;
}

ul {
  padding: 0 3rem;
  list-style: none;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  gap: 2rem;
  justify-content: right;
  align-items: center;
}

a {
  text-decoration: dashed;
  color: #039be5;
}
nav a.active {
  color: #0d6efd;
}

.bg {
  background-color: #e9ecef;
  padding: 4rem 0;
}
